
# Archivos temporales de Python
__pycache__/
*.py[cod]

# Checkpoints de Jupyter/Colab
.ipynb_checkpoints/

# Archivos de log
*.log

# Archivos grandes de datos
*.xlsx

# Archivos generados automáticamente
resultados/resultados_ventas.txt
